version: 2.1

parameters:
  lockindex:
    type: string
    default: '1'

executors:
  core:
    docker:
      - image: satantime/puppeteer-node:24.11.0
    resource_class: medium

jobs:
  Core:
    executor: core
    steps:
      - checkout
      - restore_cache:
          key: root-<< pipeline.parameters.lockindex >>-{{ arch }}-{{ checksum "script/src/package.json" }}-{{ checksum "script/src/package-lock.json" }}
      - run:
          name: NPM Install
          command: |
            cd ./script/src
            md5sum package-lock.json > package.md5
            if [ ! -d "./node_modules/" ]; then
              npm ci
            fi
            md5sum -c package.md5
            rm package.md5
            cd ../..
      - save_cache:
          key: root-<< pipeline.parameters.lockindex >>-{{ arch }}-{{ checksum "script/src/package.json" }}-{{ checksum "script/src/package-lock.json" }}
          paths:
            - ./script/src/node_modules
      - run:
          name: Build
          command: |
            cd ./script/src
            /usr/local/bin/npx tsx ./index.ts
            cd ../..

workflows:
  version: 2
  Testing:
    jobs:
      - Core:
          name: core
          filters:
            tags:
              only: /.*/
